<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<h4>Hi, {{g.user.firstname}} {{g.user.lastname}} </h4>
{% include 'flash.html' %}
<div class="row">
      

        <div class="col-md-8">
            <h3>Change Password</h3> 

{% from "_formhelpers.html" import render_field %}
<form class="form" method="post" action="{{url_for('changepassword')}}" role="form">
                    {{form.hidden_tag()}}
  <dl>
    {{ render_field(form.oldpassword) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </dl>
  <p><input type="submit" value="Change Password"> </p>
</form>
      </div>

    <div class="col-md-4">
    <h3>User Information</h3> 
    <b>Name</b>: {{user.firstname}}  {{user.lastname}} <br />
    <b>Initials</b>: {{user.userInitial}} <br />
    <b>ID</b>: {{user.uwiId}} <br />
    <b>Email</b>: {{user.email}} <br />




</div>


    </div>

{% endblock %}
