<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="row">

              <h4 align="center"><a href="{{url_for('register')}}" class="btn btn-warning">Register</a> manage your sessions.</h4>

        <div class="col-md-4 col-md-offset-4">
            <h3>Member Login</h3> 


        <div class="center well">
        <form class="form-horizontal" role="form" method="post">
                    {{form.hidden_tag()}}
            <legend>Please Log In</legend>

                   <div class="form-group{% if form.errors.email %} has-error{% endif %}">
                    <div class="col-md-8">
                            {{ form.email(class="form-control",placeholder="Email")}}
                            {% for error in form.errors.email %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
                    </div>
                </div>



                   <div class="form-group{% if form.errors.password %} has-error{% endif %}">
                    <div class="col-md-8">
                            {{ form.password(class="form-control",placeholder="Password")}}
                            {% for error in form.errors.password %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
                    </div>
                </div>

                    <div class="checkbox">
                        <label for="remember_me" class="control-label">
                        {{ form.remember_me()}}
                        Remember me
                        </label>
                    </div> <br />

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-lock"></span> Log In</button>
                    </div>
                </div>
                or
                <a href="{{url_for('register')}}">Register Here </a> <br />
        </form>
        </div>
        </div>
      
    </div>

{% endblock %}
